/* Estilos CSS generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos CSS para centrar y agregar borde al fondo de los h5 */
.contenido-1-texto {
    text-align: center;
 
    /* Alinear verticalmente al centro (ajusta el valor según tu diseño) */
    margin: 0;
    /* Asegurar que no haya márgenes internos */
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente con Flexbox */
    align-items: center;
    /* Centrar verticalmente con Flexbox */
    background-color: #fff;
    /* Color de fondo blanco para el h5 */
    border-bottom: 1px solid #000;
    /* Agregar borde inferior de 1 píxel sólido con color negro */
    border-radius: 4px;
    /* Agregar bordes redondeados */
}


body {
    background: rgb(185, 120, 120);
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 2100px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado"
        "contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido"
        "pie pie pie pie pie pie pie pie pie pie pie";
    padding: 1%;
    border-radius: 4px;
}

.contenedor,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 1%;
    border-radius: 4px;
}


.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .encabezado {
    background: rgb(174, 155, 196);
    color: #fff;
    grid-area: encabezado;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    border-radius: 4px;
}

.contenedor .pie {
    background: rgb(170, 115, 233);
    color: #fff;
    grid-area: encabezado;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    border-radius: 4px;
}

/* Estilos para el formulario */
.contact-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contact-form legend {
    font-weight: bold;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 2px;
}

.contact-form label {
    font-weight: bold;
      height: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="number"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10px;
}

.contact-form .radio-group {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="radio"] {
    margin-bottom: 10px;
    font-size: 5 rem;
    height: 10px;
}

.contact-form button {
    background: #007BFF;
    color: #fff;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 100%;
}

.contact-form button:hover {
    background: #0056b3;
}

.fila {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1%;
}

/* Estilos para los contenidos */
.contenido-favorito {
    background: rgb(156, 194, 187);
    color: #0e0c0c;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
    grid-column: 1/3;
    grid-row: 1/3;
}

.contenido-menu {
    background: rgb(156, 194, 187);
    color: #a76767;
    padding: 2%;
    font-size: 1rem;
    grid-column: 1/4;
    grid-row: 1/7;
    border: 2px solid black;
}


.contenido-1 {
    background: rgb(155, 75, 11);
    color: #f7efef;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-2 {
    background: rgb(45, 100, 219);
    color: #f7efef;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-3 {
    background: rgb(233, 212, 27);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-4 {
    background: rgb(238, 96, 191);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-5 {
    background: lightseagreen;
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-6 {
    background: rgb(1, 10, 15);
    color: #f7efef;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-7 {
    background: rgb(230, 24, 24);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-8 {
    background: rgb(224, 94, 218);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-9 {
    background: rgb(128, 232, 240);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;

}

.contenido-10 {
    background: rgb(229, 231, 229);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-11 {
    background: lightseagreen;
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-12 {
    background: rgb(13, 122, 49);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-13 {
    background: rgb(12, 245, 51);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-14 {
    background: rgb(15, 10, 1);
    color: #f7efef;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-15 {
    background: rgb(15, 15, 15);
    color: #f7efef;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid rgb(228, 217, 217);
    font-size: 1rem;
}


.contenido-16 {
    background: rgb(179, 23, 2);
    color: #fdf9f9;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenido-17 {
    background: rgb(248, 156, 35);
    color: #000;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
}

.contenedor .pie {
    background: rgb(170, 115, 233);
    color: #fff;
    grid-area: pie;
    font-size: 1rem;
}

/* Estilos CSS para centrar texto en las etiquetas h5 dentro de las celdas */

.contenido-menu,
.contenido-favorito,
.contenido-1,
.contenido-2,
.contenido-3,
.contenido-4,
.contenido-5,
.contenido-6,
.contenido-7,
.contenido-8,
.contenido-9,
.contenido-10,
.contenido-11,
.contenido-12,
.contenido-13,
.contenido-14,
.contenido-15,
.contenido-16,
.contenedor .pie {
    text-align: center;
    /* Centrar horizontalmente */
    line-height: 20px;
    /* Alinear verticalmente al centro (ajusta el valor según tu diseño) */
    margin: 0;
    /* Asegurar que no haya márgenes internos */
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente con Flexbox */
    align-items: center;
    /* Centrar verticalmente con Flexbox */
}

@media screen and (max-width: 1024px) {

    /* Pantallas grandes */
    body {
        background: #f19a47;
        /* Fondo crema */
    }
}

@media screen and (max-width: 768px) {

    /* Pantallas medianas */
    body {
        background: #d365c4;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas medianas */

    .contenido-menu,
    .contenido-favorito,
    .contenido-1,
    .contenido-2,
    .contenido-3,
    .contenido-4,
    .contenido-5,
    .contenido-6,
    .contenido-7,
    .contenido-8,
    .contenido-9,
    .contenido-10,
    .contenido-11,
    .contenido-12,
    .contenido-13,
    .contenido-14,
    .contenido-15,
    .contenido-16,
    .contenedor .pie {
        font-size: 0.5rem;
        /* Tamaño de fuente más pequeño */
    }
}

@media screen and (max-width: 576px) {

    /* Pantallas pequeñas */
    body {
        background: #b9d14d;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas pequeñas */

    .contenido-menu,
    .contenido-favorito,
    .contenido-1,
    .contenido-2,
    .contenido-3,
    .contenido-4,
    .contenido-5,
    .contenido-6,
    .contenido-7,
    .contenido-8,
    .contenido-9,
    .contenido-10,
    .contenido-11,
    .contenido-12,
    .contenido-13,
    .contenido-14,
    .contenido-15,
    .contenido-16,
    .contenedor .pie {
        font-size: 0.4rem;
        /* Tamaño de fuente más pequeño */
    }
}

@media screen and (max-width: 450px) {

    /* Pantallas extra pequeñas */
    body {
        background: #b17842;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas extra pequeñas */

    .contenido-menu,
    .contenido-favorito,
    .contenido-1,
    .contenido-2,
    .contenido-3,
    .contenido-4,
    .contenido-5,
    .contenido-6,
    .contenido-7,
    .contenido-8,
    .contenido-9,
    .contenido-10,
    .contenido-11,
    .contenido-12,
    .contenido-13,
    .contenido-14,
    .contenido-15,
    .contenido-16,
    .contenedor .pie {
        font-size: 0.3rem;
        /* Tamaño de fuente más pequeño */
    }
}