.boton-regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.boton-regresar label {
    width: 50px;
    height: 50px;
    background-color: #677cd6;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el botón de subir */
.boton-subir {
    position: fixed;
    bottom: 20px;
    right: 80px; /* Ajusta la posición según tu preferencia */
    z-index: 999;
    display: none; /* Oculta el botón por defecto */
}

.boton-subir label {
    width: 50px;
    height: 50px;
    background-color: #677cd6;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* Estilos para el botón de subir en hover */
.boton-subir label:hover {
    background-color: #4254b5; /* Cambia el color al pasar el cursor sobre el botón */
}


/* Estilos CSS generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos CSS para centrar y agregar borde al fondo de los h5 */
.contenido-1-texto {
    text-align: center;

    /* Alinear verticalmente al centro (ajusta el valor según tu diseño) */
    margin: 0;
    /* Asegurar que no haya márgenes internos */
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente con Flexbox */
    align-items: center;
    /* Centrar verticalmente con Flexbox */
    background-color: #fff;
    /* Color de fondo blanco para el h5 */
    border-bottom: 1px solid #000;
    /* Agregar borde inferior de 1 píxel sólido con color negro */
    border-radius: 4px;
    /* Agregar bordes redondeados */
}


body {
    background: rgb(185, 120, 120);
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 2100px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado encabezado"
        "contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido contenido"
        "pie pie pie pie pie pie pie pie pie pie pie";
    padding: 1%;
    border-radius: 4px;
}

.contenedor,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 1%;
    border-radius: 4px;
}


.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .encabezado {
    background: rgb(174, 155, 196);
    color: #fff;
    grid-area: encabezado;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    border-radius: 4px;
}






/* Estilos para el formulario */
.contact-form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contact-form legend {
    font-weight: bold;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 2px;
}

.contact-form label {
    font-weight: bold;
    height: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="number"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10px;
}

.contact-form .radio-group {
    display: flex;
    flex-direction: column;
}

.contact-form input[type="radio"] {
    margin-bottom: 10px;
    font-size: 5 rem;
    height: 10px;
}

.contact-form button {
    background: #007BFF;
    color: #fff;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 100%;
}

.contact-form button:hover {
    background: #0056b3;
}


.fila {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1%;
}

/* Estilos para los contenidos */
.contenido-favorito {
    background: rgb(156, 194, 187);
    color: #0e0c0c;
    padding: 2%;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
    grid-column: 1/3;
    grid-row: 1/3;
}

.contenido-menu {
    background: rgb(156, 194, 187);
    color: #a76767;
    padding: 2%;
    font-size: 1rem;
    grid-column: 1/4;
    grid-row: 1/7;
    border: 2px solid black;
}



.contenedor .pie {
    background: rgb(170, 115, 233);
    color: #fff;
    grid-area: pie;
    font-size: 1rem;
}

/* Estilos CSS para centrar texto en las etiquetas h5 dentro de las celdas */

.contenido-menu,
.Recuadro-Leyenda,
.contenido-favorito,
.Cafeteria,
.Sugerencias,
.Medialunas-tostadas-facturas,
.Adicionales-diferencias,
.Almuerzo-cenas,
.Sandwiches,
.Gaseosas-aguas-saborizadas,
.Stacc-Kosher,
.Mueble-Express,
.Merchandising,
.Molienda,
.Tortas,
.Delicias,
.Jugos-Licuados-Granizados,
.Almacen,
.Bebidas-con-Alcohol,
.Cafe-Take-Away-MDQ,
.Recarga-Vaso-Reutilizable,
.Cafe-Take-Away-Mediano,
.Cafe-Take-Away-MDQ-Grande,
.Cafe-Con-Leche-Salon,
.Pocillo-Imperdible,
.Pocillo,
.Americano,
.Americano-Imperdible,
.Cafe-Con-Leche-Imperdible,
.Doble,
.Doble-Imperdible,
.Latte-Mug,
.Latte-Especial-Caliente,
.Latte-Especial-Frio,
.Cafe-Irlandes,
.Capuchino,
.Capuchino-Caliente,
.Capuchino-Frio,
.Capuchino-Italiano,
.Chocolatada,
.Cold-Brew,
.Cold-Brew-Clasico,
.Cold-Brew-Latte-Caramel,
.Cold-Brew-Latte-Vainilla,
.Jarra-Prensa-Francesa,
.Refill-Pocillo,
.Submarino,
.Te,
.Te-Con-Leche,
.Te-Con-Limon,
.Vaso-De-Leche,
.Cafe-Laboratorio,
.Chocolatada-Nut,
.Orange-Cold-Brew,
.Golden-Latte,
.Latte-Coffee,
.Pocillo-Chacabuco,
.contenido-55,
.contenido-56,
.contenido-57,
.contenido-58,
.contenido-59,
.contenido-60,
.contenido-61,
.contenido-62,
.contenido-63,
.contenido-64,
.contenido-65,
.contenido-66,
.contenido-67,
.contenido-68,
.contenedor .pie {
    text-align: center;
    /* Centrar horizontalmente */
    line-height: 20px;
    /* Alinear verticalmente al centro (ajusta el valor según tu diseño) */
    margin: 0;
    /* Asegurar que no haya márgenes internos */
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente con Flexbox */
    align-items: center;
    /* Centrar verticalmente con Flexbox */
}

@media screen and (max-width: 1024px) {

    /* Pantallas grandes */
    body {
        background: #f19a47;
        /* Fondo crema */
    }
}

@media screen and (max-width: 768px) {

    /* Pantallas medianas */
    body {
        background: #d365c4;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas medianas */

    .contenido-menu,
    .Recuadro-Leyenda,
    .contenido-favorito,
    .Cafeteria,
    .Sugerencias,
    .Medialunas-tostadas-facturas,
    .Adicionales-diferencias,
    .Almuerzo-cenas,
    .Sandwiches,
    .Gaseosas-aguas-saborizadas,
    .Stacc-Kosher,
    .Mueble-Express,
    .Merchandising,
    .Molienda,
    .Tortas,
    .Delicias,
    .Jugos-Licuados-Granizados,
    .Almacen,
    .Bebidas-con-Alcohol,
    .Cafe-Take-Away-MDQ,
    .Recarga-Vaso-Reutilizable,
    .Cafe-Take-Away-Mediano,
    .Cafe-Take-Away-MDQ-Grande,
    .Cafe-Con-Leche-Salon,
    .Pocillo-Imperdible,
    .Pocillo,
    .Americano,
    .Americano-Imperdible,
    .Cafe-Con-Leche-Imperdible,
    .Doble,
    .Doble-Imperdible,
    .Latte-Mug,
    .Latte-Especial-Caliente,
    .Latte-Especial-Frio,
    .Cafe-Irlandes,
    .Capuchino,
    .Capuchino-Caliente,
    .Capuchino-Frio,
    .Capuchino-Italiano,
    .Chocolatada,
    .Cold-Brew,
    .Cold-Brew-Clasico,
    .Cold-Brew-Latte-Caramel,
    .Cold-Brew-Latte-Vainilla,
    .Jarra-Prensa-Francesa,
    .Refill-Pocillo,
    .Submarino,
    .Te,
    .Te-Con-Leche,
    .Te-Con-Limon,
    .Vaso-De-Leche,
    .Cafe-Laboratorio,
    .Chocolatada-Nut,
    .Orange-Cold-Brew,
    .Golden-Latte,
    .Latte-Coffee,
    .Pocillo-Chacabuco,
    .contenido-55,
    .contenido-56,
    .contenido-57,
    .contenido-58,
    .contenido-59,
    .contenido-60,
    .contenido-61,
    .contenido-62,
    .contenido-63,
    .contenido-64,
    .contenido-65,
    .contenido-66,
    .contenido-67,
    .contenido-68,
    .contenedor .pie {
        font-size: 0.5rem;
        /* Tamaño de fuente más pequeño */
    }
}

@media screen and (max-width: 576px) {

    /* Pantallas pequeñas */
    body {
        background: #b9d14d;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas pequeñas */

    .contenido-menu,
    .Recuadro-Leyenda,
    .contenido-favorito,
    .Cafeteria,
    .Sugerencias,
    .Medialunas-tostadas-facturas,
    .Adicionales-diferencias,
    .Almuerzo-cenas,
    .Sandwiches,
    .Gaseosas-aguas-saborizadas,
    .Stacc-Kosher,
    .Mueble-Express,
    .Merchandising,
    .Molienda,
    .Tortas,
    .Delicias,
    .Jugos-Licuados-Granizados,
    .Almacen,
    .Bebidas-con-Alcohol,
    .Cafe-Take-Away-MDQ,
    .Recarga-Vaso-Reutilizable,
    .Cafe-Take-Away-Mediano,
    .Cafe-Take-Away-MDQ-Grande,
    .Cafe-Con-Leche-Salon,
    .Pocillo-Imperdible,
    .Pocillo,
    .Americano,
    .Americano-Imperdible,
    .Cafe-Con-Leche-Imperdible,
    .Doble,
    .Doble-Imperdible,
    .Latte-Mug,
    .Latte-Especial-Caliente,
    .Latte-Especial-Frio,
    .Cafe-Irlandes,
    .Capuchino,
    .Capuchino-Caliente,
    .Capuchino-Frio,
    .Capuchino-Italiano,
    .Chocolatada,
    .Cold-Brew,
    .Cold-Brew-Clasico,
    .Cold-Brew-Latte-Caramel,
    .Cold-Brew-Latte-Vainilla,
    .Jarra-Prensa-Francesa,
    .Refill-Pocillo,
    .Submarino,
    .Te,
    .Te-Con-Leche,
    .Te-Con-Limon,
    .Vaso-De-Leche,
    .Cafe-Laboratorio,
    .Chocolatada-Nut,
    .Orange-Cold-Brew,
    .Golden-Latte,
    .Latte-Coffee,
    .Pocillo-Chacabuco,
    .contenido-55,
    .contenido-56,
    .contenido-57,
    .contenido-58,
    .contenido-59,
    .contenido-60,
    .contenido-61,
    .contenido-62,
    .contenido-63,
    .contenido-64,
    .contenido-65,
    .contenido-66,
    .contenido-67,
    .contenido-68,
    .contenedor .pie{
        font-size: 0.4rem;
        /* Tamaño de fuente más pequeño */
    }
}

@media screen and (max-width: 450px) {

    /* Pantallas extra pequeñas */
    body {
        background: #b17842;
        /* Fondo crema */
    }

    /* Reducir el tamaño de fuente en pantallas extra pequeñas */

    .contenido-menu,
    .Recuadro-Leyenda,
    .contenido-favorito,
    .Cafeteria,
    .Sugerencias,
    .Medialunas-tostadas-facturas,
    .Adicionales-diferencias,
    .Almuerzo-cenas,
    .Sandwiches,
    .Gaseosas-aguas-saborizadas,
    .Stacc-Kosher,
    .Mueble-Express,
    .Merchandising,
    .Molienda,
    .Tortas,
    .Delicias,
    .Jugos-Licuados-Granizados,
    .Almacen,
    .Bebidas-con-Alcohol,
    .Cafe-Take-Away-MDQ,
    .Recarga-Vaso-Reutilizable,
    .Cafe-Take-Away-Mediano,
    .Cafe-Take-Away-MDQ-Grande,
    .Cafe-Con-Leche-Salon,
    .Pocillo-Imperdible,
    .Pocillo,
    .Americano,
    .Americano-Imperdible,
    .Cafe-Con-Leche-Imperdible,
    .Doble,
    .Doble-Imperdible,
    .Latte-Mug,
    .Latte-Especial-Caliente,
    .Latte-Especial-Frio,
    .Cafe-Irlandes,
    .Capuchino,
    .Capuchino-Caliente,
    .Capuchino-Frio,
    .Capuchino-Italiano,
    .Chocolatada,
    .Cold-Brew,
    .Cold-Brew-Clasico,
    .Cold-Brew-Latte-Caramel,
    .Cold-Brew-Latte-Vainilla,
    .Jarra-Prensa-Francesa,
    .Refill-Pocillo,
    .Submarino,
    .Te,
    .Te-Con-Leche,
    .Te-Con-Limon,
    .Vaso-De-Leche,
    .Cafe-Laboratorio,
    .Chocolatada-Nut,
    .Orange-Cold-Brew,
    .Golden-Latte,
    .Latte-Coffee,
    .Pocillo-Chacabuco,
    .contenido-55,
    .contenido-56,
    .contenido-57,
    .contenido-58,
    .contenido-59,
    .contenido-60,
    .contenido-61,
    .contenido-62,
    .contenido-63,
    .contenido-64,
    .contenido-65,
    .contenido-66,
    .contenido-67,
    .contenido-68,
    .contenedor .pie {
        font-size: 0.3rem;
        /* Tamaño de fuente más pequeño */
    }
}


@media screen and (min-width:20em) {
    body {
        font-family: MuseoSans;
        font-weight: 100;
        text-transform: none;
        letter-spacing: 0
    }

    body {
        font-size: 1rem
    }
}

@media screen and (min-width:40em) {
    body {
        font-family: MuseoSans;
        font-weight: 100;
        text-transform: none;
        letter-spacing: 0
    }

    body {
        font-size: 1rem
    }

    .ph5-m {
        padding-left: 1rem;
        padding-right: 1rem
    }

    body {
        font-family: MuseoSans;
        font-weight: 100;
        text-transform: none;
        letter-spacing: 0
    }

    body {
        font-size: 1rem
    }
}

@media screen and (min-width:64em) {
    .db-l {
        display: block
    }

    body {
        font-family: MuseoSans;
        font-weight: 100;
        text-transform: none;
        letter-spacing: 0
    }

    body {
        font-size: 1rem
    }
}

@media screen and (min-width:80em) {
    .ph2-xl {
        padding-left: .25rem;
        padding-right: .25rem
    }

    body {
        font-family: MuseoSans;
        font-weight: 100;
        text-transform: none;
        letter-spacing: 0
    }

    body {
        font-size: 1rem
    }
}

@media (max-width:1025px) {
    .vtex-menu-2-x-styledLinkContainer--title-top2-fran2:before {
        top: 16px
    }
}

@media (max-width:768px) {
    .vtex-menu-2-x-styledLinkContent--menu-outlet {
        text-transform: uppercase;
        font-weight: 600;
        color: #000
    }
}

@media screen and (min-width:1025px) {
    .vtex-menu-2-x-styledLinkContainer--menu-outlet {
        margin: 0 0 0 .9rem !important
    }
}




@media (min-width:768px) {
    .vtex-store-components-3-x-searchBarContainer {
        width: 360px
    }
}

@media (max-width:768px) {
    .vtex-store-components-3-x-searchBarContainer {
        margin: 0 10px 10px
    }
}


@media (max-width:768px) {
    .vtex-store-components-3-x-logoImage {
        width: 120px
    }
}



@media screen and (min-width:1025px) {
    .vtex-store-components-3-x-logoImage {
        width: 80%;
        max-width: 180px
    }
}

@media screen and (min-width:1200px) {
    .vtex-store-components-3-x-logoImage {
        width: 65%
    }
}


@media screen and (min-width:1025px) {
    .vtex-sticky-layout-0-x-container .vtex-store-components-3-x-searchBarContainer {
        width: 100%;
        margin-left: .3rem
    }
}

@media screen and (min-width:1200px) {
    .vtex-sticky-layout-0-x-container .vtex-store-components-3-x-searchBarContainer {
        width: 300px
    }
}

@media screen and (min-width:1300px) {
    .vtex-sticky-layout-0-x-container .vtex-store-components-3-x-searchBarContainer {
        width: 360px;
        margin-left: 20px
    }
}


@media (max-width:768px) {
    .vtex-store-components-3-x-autoCompleteOuterContainer .vtex-styleguide-9-x-input {
        max-width: 100%
    }
}


@media (max-width:768px) {
    .vtex-store-components-3-x-autoCompleteOuterContainer .vtex-input__suffix {
        padding: 0
    }
}

